.lanyard-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  animation: dropIn 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes dropIn {
  0% {
    transform: translateY(-150%) rotate(-5deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
