.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  touch-action: none;
  background: black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
